#container {
    border: 1px solid;
    width: 50em;
    height: 50em;
    justify-self: center;

    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;   
}

#container div {
    border: 1px solid;
}

#container div:hover {
    background-color: silver;
}